/* EditPropertyPage.css */
.edit-property-page {
    max-width: 45rem;
    margin: 40px auto;
    background-color: #fdfdfd;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;

}

.edit-property-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.form-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.edit-property-page form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.edit-property-page label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #444;
    font-size: 14px;
    align-items: center;
}

.edit-property-page input[type="text"],
.edit-property-page input[type="number"],
.edit-property-page textarea {
    padding: 8px 12px;
    border-radius: 6px;
    color: #000;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 6px;
}

.edit-property-page input[type="text"]:focus,
.edit-property-page input[type="number"]:focus,
.edit-property-page textarea:focus {
    outline: none;
    border-color: #40dd73;
}

.edit-property-page input[type="checkbox"] {
    margin-top: 10px;
    transform: scale(1.2);
}

.edit-property-page textarea {
    min-height: 7rem;
    min-width: 18rem;
    resize: vertical;
}

.edit-property-page button[type="submit"] {
    padding: 10px 20px;
    background-color: #40dd73;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.edit-property-page button[type="submit"]:hover {
    background-color: #40dd73;
}
.checkbox-label-conainer{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}